---
---
{% assign $SLIDER=1 %}
{% assign $PAGE_ID="home_form" %}
{% include header.html %}
<div class="col1">
    <div class="pad1">
        <div class="wrapper pad_bot1">
            <img src="images/antonio_headshot.jpg" alt="" class="left marg_right1" />
            <h1>
                Antonio Cullari:<br /> Massage Therapist</h1>
            <p class="font1">
                Antonio attended the National Holistic Institute (NHI) in Encino, CA and graduated
                with honors as a massage therapist and health educator. The program was 720 hours
                and included many hours of anatomy, physiology, kinesiology as well as the eastern
                and western modalities.</p>
            <p class="pad_bot1">
                Antonio has combined both western and eastern modalities and philosophies in his
                approach to massage. Custom tailoring each massage to meet each clients specific
                wants and needs. Whether is be a Swedish massage or addressing specific issues using
                acupressure, deep tissue, Shiatsu or trigger points each massage will still be relaxing.
            </p>
            <p>
                <a href="about.php" class="button1">More About Antonio</a></p>
        </div>
    </div>
    <div class="box1">
        <div class="wrapper">
            <h1>
                Popular Treatments</h1>
            <div class="wrapper pad_bot2">
                <div class="col2 click-me" onclick="javascript:document.location='treatments.php'">
                    <img src="images/page1_img2.jpg" class="left marg_right1" alt="" />
                    <p class="font2">
                        <span>Swedish</span> Firm but gentle pressure to promote relaxation...</p>
                    <a href="treatments.php" class="link1">Read More</a>
                </div>
                <div class="col2 pad_left1 click-me" onclick="javascript:document.location='treatments.php'">
                    <img src="images/page1_img5.jpg" class="left marg_right1" alt="" />
                    <p class="font2">
                        <span>Deep Tissue</span> Ease chronic muscle tension and knots...</p>
                    <a href="treatments.php" class="link1">Read More</a>
                </div>
            </div>
            <div class="wrapper pad_bot2 click-me">
                <div class="col2" onclick="javascript:document.location='treatments.php'">
                    <img src="images/page1_img3.jpg" class="left marg_right1" alt="" />
                    <p class="font2">
                        <span>Shiatsu</span> Restore healthy flow of energy through finger pressure...</p>
                    <a href="treatments.php" class="link1">Read More</a>
                </div>
                <div class="col2 pad_left1 click-me" onclick="javascript:document.location='treatments.php'">
                    <img src="images/page1_img6.jpg" class="left marg_right1" alt="" />
                    <p class="font2">
                        <span>Reflexology</span> Treatment of the feet and hands felt throughout the body...</p>
                    <a href="treatments.php" class="link1">Read More</a>
                </div>
                <a href="treatments.php" class="button1" style="margin-top:15px">View all available treatments &gt;&gt;</a>
            </div>
        </div>
    </div>
</div>
<div class="col2 pad_left2">
    <div class="box2">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="4VKJWD9JH33B6">
            <input type="image" src="images/paypal.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
    <div class="box2 form" style="padding-right:45px; display:none;">
        <h2>
            Make an appointment</h2>
            <form id="home_contact_form" type="post" action="contact.php">
                <label id="lbl_name" for="tb_name">Name: </label>
                <input type="text" id="tb_name" name="tb_name" class="required" />
                <label id="lbl_email" for="tb_email">Email: </label>
                <input type="text" id="tb_email" name="tb_email" class="required" />
                <label id="lbl_phone" for="tb_phone">Phone: </label>
                <input type="text" id="tb_phone" name="tb_phone" class="required" />
                <input type="submit" id="a_contact_button" href="#" class="button1 right" value="Go">
                <div class="clear"></div>
            </form>
    </div>
</div>
{% include footer.html %}
