---
---
{% assign $SLIDER=1 %}
{% assign $TITLE = "Treatments" %}
{% assign $PAGE = "treatments" %}
{% include header.html %}   
<div class="col2 click-me">
    <img src="images/page1_img2.jpg" class="left marg_right1" alt="" />
    <p class="font2">
        <span>Swedish</span> Firm but gentle pressure to promote relaxation...</p>
    <a href="#swedish_details" class="link1">Read More</a>                            
</div>
<div class="col2 click-me">
    <img src="images/page1_img5.jpg" class="left marg_right1" alt="" />
    <p class="font2">
        <span>Deep Tissue</span> Ease chronic muscle tension and knots...</p>
    <a href="#deep_tissue_details" class="link1">Read More</a>
</div>
<div class="col2 click-me">
    <img src="images/page1_img3.jpg" class="left marg_right1" alt="" />
    <p class="font2">
        <span>Shiatsu</span> Restore healthy flow of energy through finger pressure...</p>
    <a href="#shiatsu_details" class="link1">Read More</a>                            
</div>
<div class="clear" style="margin-bottom:25px;">
    <div id="swedish_details" class="target-panel mdl mdl-lrg">
        <p><strong>Swedish massage</strong> is the most commonly offered and best-known type of massage. If it's your first time at the spa, Swedish massage is the perfect place to start.</p>
        <h4>What Happens During Swedish Massage?</h4>
        <p>During Swedish massage, massage therapists use massage oilsto facilitate smooth, gliding strokes called effleurage. Other classic Swedish massage moves include kneading, friction, stretching and (sometimes) tapping.</p>
        <p>Swedish massage uses firm but gentle pressure to promote relaxation, ease muscle tension and create other health benefits.</p>
        <p>Generally during Swedish massage you're nudeunderneath a towel or sheet. The therapist uncovers only the part of the body he/she is working on, a technique called "draping".</p>
        <p>You can keep your underwear on during Swedish massage, and many newcomers do.</p>
        <p>Feel free to state your preference for pressure during Swedish massage. It can range from light to firm. Swedish massage usually includes some deeper work on areas of specific muscle tension. If you want more intensive work and firmer pressure, get a deep tissue massage.</p>
    </div>
    <div id="deep_tissue_details" class="target-panel mdl mdl-lrg">
        <p><strong>Deep tissue massage</strong> is a type of massage aimed at the deeper tissue structures of the muscle and fascia, also called connective tissue. Deep tissue massage uses many of the same movements and techniques as Swedish massage, but the pressure will generally be more intense. It is also a more focused type of massage, as the therapist works to release chronic muscle tension or knots (also known as "adhesions.")</p>
        <h4>Will A Deep Tissue Massage Hurt?</h4>
        <p>It shouldn't hurt, but it's likely to be a bit more uncomfortable than a classic Swedish massage. You should always feel free to speak up if the pressure is too much for you.</p>
        <p>It's important to drink a lot of water after a deep tissue massage to help flush lactic acid out of the tissues. If you don't, you might be sore the next day.</p>
        <p>It's possible that you might feel some soreness the day after a deep tissue massage even if you DO drink water. This just means a lot of waste products were flushed out of the tissues. It should pass within a day or so.</p>
    </div>
    <div id="shiatsu_details" class="target-panel mdl mdl-lrg">
        <p><strong>Shiatsu</strong> is a style of bodywork developed in Japan. It is similar to acupuncture, but uses finger pressure instead of needles. Shiatsu's name comes from two Japanese words -- "shi" or finger and "atsu" or pressure. Shiatsu's goal is to restore the healthy flow of energy throughout the body.</p>
        <h4>What Happens During a Shiatsu Massage?</h4>
        <p>For shiatsu, you wear loose clothing. It is usually performed on a mat on the floor. The practitioner will use their fingers and thumbs to apply pressure to specific points on the body's energy pathways, known as meridiens. They often use other techniques such as rocking, stretches and joint rotations.</p>
        <p>Shiatsu treatment is holistic, addressing the whole body rather than focusing on the one area where symptoms are most obvious.</p>
        <p>A shiatsu session usually lasts between 45 minutes and an hour.</p>
    </div>
</div>

<div class="col2 click-me">
    <img src="images/page1_img6.jpg" class="left marg_right1" alt="" />
    <p class="font2">
        <span>Reflexology</span> Treatment of the feet and hands felt throughout the body...</p>
    <a href="#reflex_details" class="link1">Read More</a>                            
</div>
<div class="col2 click-me">
    <img src="images/back_chop.jpg" class="left marg_right1" alt="" />
    <p class="font2">
        <span>Thai Massage</span>  It's like yoga without doing any work....</p>
    <a href="#thai_details" class="link1">Read More</a>                            
</div>

<div class="col2 click-me">
    <img src="images/lady_flowers.jpg" class="left marg_right1" alt="" />
    <p class="font2">
        <span>Sports Massage</span>  specifically designed for people who are involved in physical activity...</p>
    <a href="#sports_details" class="link1">Read More</a>                            
</div>

<div class="clear" style="margin-bottom:25px">
    <div id="reflex_details" class="target-panel mdl mdl-lrg">
        <p>
            <strong>Reflexology</strong> is a spa treatment where the therapist works on "reflex
            points" on your feet, hands, and head (especially ears). The theory behind reflexology
            is that these reflex points relate to specific organs and glands in the body, and
            stimulating those points with finger pressure promotes health in those organs and
            glands via the body's energetic pathways.</p>
    </div>
    <div id="thai_details" class="target-panel mdl-lrg mdl-lrg">
        <p>
            Like shiatsu, <strong>Thai massage</strong> aligns the energies of the body using
            gentle pressure on specific points. Thai massage also includes compressions and
            stretches.</p>
        <p>
            You don't just lie there--the therapist moves and stretches you into a sequence
            of postures. It's like yoga without doing any work. Thai massage is more energizing
            than other forms of massage. It is also reduces stress and improves flexibility
            and range of motion. To learn more, read the full article on <a href="http://altmedicine.about.com/od/massage/ig/Thai-Massage/" target="_blank">
            thai massage</a>. Also, see photos of a <a href="http://altmedicine.about.com/od/massage/ig/Thai-Massage/" target="_blank">Thai massage session</a>.</p>
    </div>
    <div id="sports_details" class="target-panel mdl-lrg mdl-lrg">
        <p>
            <strong>Sports Massage</strong></p>
        <p>
            Sports massage is specifically designed for people who are involved in physical
            activity. But you don't have to be a professional athlete to have one-it's also
            used by people who are active and work out often. The focus isn't on relaxation
            but on preventing and treating injury and enhancing athletic performance.</p>
        <p>
            A combination of techniques are used. The strokes are generally faster than Swedish
            massage. Facilitated stretching is a common technique. It helps to loosen muscles
            and increase flexibility.</p>
    </div>
</div>

<div class="col2 click-me">
    <img src="images/shoulder_massage.jpg" class="left marg_right1" alt="" />
    <p class="font2">
        <span>Pregnancy Massage</span> reduce stress, decrease swelling, relieve aches and pains...</p>
    <a href="#pregnancy_details" class="link1">Read More</a>                            
</div>

<div class="col2 click-me">
    <img src="images/lying_down.jpg" class="left marg_right1" alt="" />
    <p class="font2">
        <span>Acupressure</span> The application of finger or hand pressure to points on the body...</p>
    <a href="#accupressure_details" class="link1">Read More</a>                            
</div>
<div class="clear" style="margin-bottom:25px">
    <div id="pregnancy_details" class="target-panel mdl mdl-lrg">
        <p>
            <strong>Pregnancy Massage</strong></p>
        <p>
            Also called prenatal massage, pregnancy massage is becoming increasingly popular
            with expectant mothers. Massage therapists who are certified in pregnancy massage
            know the proper way to position and support the woman's body during the massage,
            and how to modify techniques.</p>
        <p>
            Pregnancy massage is used to reduce stress, decrease swelling, relieve aches and
            pains, and reduce anxiety and depression. The massage is customized to a woman's
            individual needs. To learn more, read the full article on pregnancy massage.</p>
    </div>
    <div id="accupressure_details" class="target-panel mdl-lrg mdl-lrg">
        <p>
            <strong>Accupressure</strong></p>
        <p>
            The application of finger or hand pressure to points on the body. The points, which
            are sometimes called acupoints, lie along invisible lines of energy flow called
            meridians.</p>
        <p>
            In traditional Chinese medicine, stimulating these points with either acupressure
            or acupuncture is thought to restore proper flow of energy (qi) in the body and
            prevent and treat specific ailments and conditions, such as nausea, muscle tension
            and headaches.</p>
        <p>
            Acupressure can be done on oneself or a practitioner, usually an acupuncturist.
            One of the more commonly used acupressure points is PC6, which is located on the
            inside of the wrist.</p>
    </div>
</div>


{% include footer.html %}  